---
---

<nav class="bottomNav">
  <div class="navWrap">
    <div class="navItem active" data-tab-target="finance">
      <svg
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        ><path d="M4 18V8"></path><path d="M10 18V6"></path><path
          d="M16 18v-4"
        ></path><path d="M22 18V10"></path></svg
      ><div class="t">Фин</div>
    </div>
    <div class="navItem" data-tab-target="analytics">
      <svg
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        ><path d="M4 19V5"></path><path d="M4 19h16"></path><path
          d="M7 15l3-4 4 3 4-6"
        ></path></svg
      ><div class="t">Отчет</div>
    </div>
    <div class="navItem">
      <svg
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        ><path d="M7 4h10"></path><path d="M9 4v16"></path><path
          d="M15 4v16"
        ></path><path d="M6 20h12"></path></svg
      ><div class="t">Стойки</div>
    </div>
    <div class="navItem" data-tab-target="stock">
      <svg
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        ><path d="M3 8l9-4 9 4v12l-9 4-9-4V8Z"></path><path
          d="M3 8l9 4 9-4"
        ></path><path d="M12 12v12"></path></svg
      ><div class="t">Склад</div>
    </div>
    <div class="navItem">
      <svg
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        ><path d="M9 11l3 3L22 4"></path><path
          d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"
        ></path></svg
      ><div class="t">Задачи</div>
    </div>
  </div>
</nav>
