version: '3.1'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: coffee_dashboard
      POSTGRES_USER: coffee_admin
      POSTGRES_PASSWORD: supersecret
    ports:
      - 5432:5432
    volumes:
      - ./pgdata:/var/lib/postgresql/data
