/* frontend/src/styles/global.css */
/* Общие стили для всего документа */
html, body {
  height: 100%;
  margin: 0;
  overscroll-behavior-y: contain; 
  background-color: #23272f;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #c6c6c6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* ПРЕДОТВРАЩАЕМ ГОРИЗОНТАЛЬНЫЙ СКРОЛЛ ВСЕЙ СТРАНИЦЫ */
}

#root {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.App { 
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}